<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title>Cadastro de Clientes</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
        <style>
            /* Estilos personalizados */
            .focus-highlight:focus {
                border-color: #007BFF;
                box-shadow: 0 0 8px #007BFF;
            }
        </style>
        <script>
            $(document).ready(function() {
                $('#formCadastroCliente').on('submit', function(event) {
                    var nome = $('#nome').val();
                    var cep = $('#cep').val();
                    var telefone = $('#telefone').val();
                    var email = $('#email').val();

                    // Verificar campos obrigatórios
                    if (!nome || !telefone) {
                        alert('Preencha todos os campos obrigatórios.');
                        event.preventDefault(); // Impede o envio do formulário
                    }
                });
            });
        </script>
    {% endblock %}
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Cadastro de Cliente{% endblock %}
    {# ajusta as variáveis conforme novo ou edit #}
        {% set id = result[0].id_cliente if result else '0' %}
        {% set nome = result[0].nome if result else '' %}
        {% set cpf = result[0].cpf if result else '' %}
        {% set telefone = result[0].telefone if result else '' %}
        {% set compra_fiado = result[0].compra_fiado if result else '' %}
        {% set dia_fiado = result[0].dia_fiado if result else '' %}
        {% set senha = result[0].senha if result else '' %}
    {% block content %}

    <div class="container">
        <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
        id="{{ 'formEditar' if result else 'formAdicionar' }}"
        action="{{ url_for('cliente.edit') if result else url_for('cliente.insert') }}" method="POST">
        <h1>Cliente - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>

            <div class="form-group">
                <label for="id">Código</label>
                <input type="text" name="id" id="id" value="{{ id }}" placeholder="Código" readonly>
            </div>

            <div class="form-group">
                <label for="nome">Nome do Cliente</label>
                <input type="text" class="form-control focus-highlight" name="nome" id="nome" value="{{ nome }}" placeholder="Nome do Cliente" maxlength="100" autofocus required>
            </div>

            <div class="form-group">
                <label for="nome">CPF</label>
                <input type="text" class="form-control focus-highlight" name="cpf" id="cpf" value="{{ cpf }}" placeholder="CPF" maxlength="15" autofocus required>
            </div>

            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="tel" class="form-control focus-highlight" name="telefone" id="telefone" value="{{ telefone }}" placeholder="Telefone" maxlength="11" required>
            </div>

            <div class="form-group">
                <label for="nome">Compra Fiado</label>
                <input type="text" class="form-control focus-highlight" name="compra_fiado" id="compra_fiado" value="{{ compra_fiado }}" placeholder="Compra Fiado" maxlength="15" autofocus required>
            </div>

            <div class="form-group">
                <label for="nome">Dia Fiado</label>
                <input type="text" class="form-control focus-highlight" name="dia_fiado" id="dia_fiado" value="{{ dia_fiado }}" placeholder="Dia Fiado" maxlength="15" autofocus required>
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" value="{{ senha }}" placeholder="Senha" required>
            </div>

            <div class="form-group">
                <label for="resenha">Confirme a Senha</label>
                <input type="password" class="form-control" name="resenha" id="resenha" value="{{ senha }}" placeholder="Confirme a Senha" required>
            </div>

            <button type="submit" class="btn btn-primary" name="salvarCliente"><i class="fas fa-save"></i> Salvar</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
