<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Internal Server Error{% endblock %}

    {% block content %}
    <div class="row">
        <div class="col">
            <h1>Internal Server Error</h1>
            <h3>O servidor encontrou uma situação com a qual não sabe lidar.</h3>
        </div>
    </div>

    <figure>
        <img src="{{ url_for('static', filename='Erro500.jpg') }}" alt="Erro 500">
    </figure>

    <div class="row">
        <div class="col">
            {# mostra a mensagem de erro retornada #}
            <p>{{ erroHttp }}</p>
        </div>
    </div>
    {% endblock %}   
</body>
</html>