<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title>500 - Internal Server Error</title>
    {% block style %}
        <!-- Inclua os links para os estilos CSS do Bootstrap aqui -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
        <!-- Adicione estilos personalizados, se necessário -->
        <style>
            .error-message {
                font-size: 18px;
                color: #FF0000;
            }
            /* Adicione outros estilos personalizados conforme necessário */
        </style>
    {% endblock %}
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Internal Server Error{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <h1 class="display-4">Internal Server Error</h1>
                <h3 class="lead">O servidor encontrou uma situação com a qual não sabe lidar.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-4">
                <figure>
                    <img src="{{ url_for('static', filename='Erro500.jpg') }}" alt="Erro 500" class="img-fluid">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-4">
                {# Mostra a mensagem de erro retornada #}
                <p class="error-message">{{ erroHttp }}</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
