<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title>Funcionários</title>
    {% block style %}{% endblock %}
    
</head>
<body>
    {% extends "base.html" %}

    {{ result }}

    {% block title %}Funcionário{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Funcionários</h1>
        <form action="{{ url_for('funcionario.formFuncionario') }}" method="POST">
            <button type="submit" class="btn btn-primary" name="formNovo"><i class="fas fa-plus"></i> Novo Funcionário</button>
        </form>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for row in result %}
                <tr>
                    <th scope="row"> {{ row['id_funcionario'] }}</th>
                    <td> {{ row['nome'] }}</td>
                    <td> {{ row['matricula'] }}</td>
                    <td> {{ row['cpf'] }}</td>
                    <td> {{ row['telefone'] }}</td>
                    <td> {{ row['grupo'] }}</td>
                    <td> {{ row['senha'] }}</td>
                    <td><a href="#"><i class="fas fa-edit"></i></td></a>
                    <td><a href="#"><i class="fas fa-trash"></i></td></a>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>
