<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <link rel="icon" href="static/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <title>HOME</title>
        </head>
        <body>
            {% extends "base.html" %}

            {% block title %}Funcionário{% endblock %}

            {% block content %}
            <div class="container">
                <h1>HOME</h1>
                <p class="alert alert-info">Seja Bem Vindo! {% if 'login' in session %}
                    <b>{{ session['login'] }}</b>
                    Você é um <b>{{session['grupo'] }}</b>
                    {% endif %}</p>
            </div>
            {% endblock %}
        </body>
    </html>